#top { position: relative; }
#top ul { display: block; }
#comment p, .footnote { float: none; width: 100%; white-space: normal; }
#bottom { padding: 20px 0; }
#bottom small { display: block; }
#bottom ul { overflow: hidden; float: left; }
#bottom li { padding: 15px 15px 0 0; }
input[name=term] { padding-top: 20px; }
#logo { padding-right: 0px; display: inline-block; margin: 0; }
#bottom li ul { clear: both; }
.social-icon { padding-left: 0px !important; padding-right: 20px !important; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.mobile-break { display: block; }